
#upper {
    text-align: center;
    padding: 150px 0;
    background: #3369F6;
  }
  
  /* angled div */
  .slanted-div {
    position: relative;
    padding: 30px 0;
    background: #0E3C6E;
    overflow: visible;
    z-index: 1;
  }
  
  /* where the magic happens */
  .slanted-div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(12deg);
  }
  
  /* displays the content inside, as these settings in the parent breaks the effect */
  .slanted-div div {
    color: white;
  }
  .slanted-div h4{
    color: white;
    font-weight: 600;
    margin: 30px 15px;
  }
  .slanted-div h5{
    font-weight: 600;
    margin: 30px 15px;
  }
  .slanted-div p{
    color: white;
    margin-left: 20px;
    margin-right: 70px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
  }
  .slanted-div a{
  text-decoration: none;
  }

  .slanted-div hr{
      color: white;
      margin: 3.5rem auto 0;
      border-top: 2px solid;
      opacity: 1;
  }

  footer {
    color: #999;
    text-align: center;
    padding: 100px 0 50px 0;
    background: #222;
  }
  
  h1 {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
  }

.slanted-div img{
    margin-top: -6rem;
    background: white;
    padding: 20px;
    height: 250px;
    width: 250px;
    border-radius: 25px;
}




@media only screen and (max-width: 768px) {

.slanted-div .row{
    text-align: center!important;
}
.slanted-div img{
    margin-top: -1rem;
}
.slanted-div p {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 30px;
}
.slanted-div .col-lg-3.col-12{
    margin-top: 30px;
}

    
header {
    padding: 30px;
  }

  .slanted-div {
    padding: 100px 0;
  }
    
  h1 {
    font-size: 1.5em;
  }

}