#image2 {
    margin-top: -70px;
    position: absolute;
}
#blue {
    color: #186CCF;
}

#search {
    background-color: #186CCF;
}

#row2 .box{
    position: relative;
}

#row1 {
    padding-top: 10rem;
}
.button1 {
    background-color: #0E3C6E;
   
    color: white;
}

#row2 img:hover {
    transform: scale(1.1);
}
#text2 {
    position: absolute;
    bottom: 15rem;
    left: 3.5rem;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }



  .card {
    margin: 1rem auto;
    position: relative; 
  }
  
  .card-body {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

.image {
    margin:  auto;
    position: relative; 
    
  }
  
.image .card-body {
    z-index: 2;
    position: absolute;
    top: 25rem;
    left: 2rem;
    color: black;
  }


  #image2 .card {
    margin: 1rem auto;
    position: relative; 
    border-radius: 20px;
  }
  
#image2 .card-body {
    z-index: 2;
    position: absolute;
    top: 3rem;
    left: 10rem;
    color: black;
  }


#container3 input {
    border-radius: 10px;
}
#container3 button {
    border-radius: 10px;
}
#image2 input {
    opacity: 0.3;
    border: white;
}

#image2 ::placeholder {
    color: black;
}

.button1:hover {
    color: white;
}
#container2 #row4{
    border-radius: 20px;
    background-color: #0E3C6E;
    color: white;
}

#container3 .row {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.button2 {
    background-color: white;
    color: black;
}
.row3 p {
    font-size: x-small;
}

.row3 h6 {
    font-size: small;
}
.row3 a {
    font-size: x-small;
}

.carousel-indicators button  {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #0E3C6E;
}

.card-img-overlay{
   padding-left: 9rem; 
   padding-top: 3rem;
}

@media (max-width:930px) {
    #image2 .card {
        margin: 1rem auto;
        position: relative; 
      }
      
    #image2 .card-body {
        z-index: 2;
        position: absolute;
        bottom: 2rem;
        left: 10rem;
        color: black;
        font-size: xx-small;
    }
}
@media (max-width:1080px) {
    .image .card {
        margin: 1rem auto;
        position: relative; 
      }
      
    .image .card-body {
        z-index: 2;
        position: absolute;
        top: 15rem;
        left: 2rem;
        color: black;
    }

    #image2 .card {
        margin: 1rem auto;
        position: relative; 
      }
      
    #image2 .card-body {
        z-index: 2;
        position: absolute;
        top: 1rem;
        left: 2rem;
        color: black;
    }
    #row1 {
        padding-top: 7rem;
    }
}

@media (max-width:850px) {
    #image2 .card {
        margin: 1rem auto;
        position: relative; 
      }
      
    #image2 .card-body {
        z-index: 2;
        position: absolute;
        top: 1rem;
        left: 4rem;
        color: black;
    }
    #row1 {
        padding-top: 7rem;
    }
}
@media (max-width:750px) {
    #image2 {
        margin-top: -50px;
        font-size: xx-small;
    }
    .image .card-body {
        z-index: 2;
        position: absolute;
        top: 10rem;
        left: 2rem;
        color: black;
    }
    #image2 .card {
        margin: 1rem auto;
        position: relative; 
      }
      
    #image2 .card-body {
        z-index: 2;
        position: absolute;
        top: 0rem;
        left: 5rem;
        color: black;
    }
    #row1 {
        padding-top: 5rem;
    }
}

@media (max-width:600px) {
    #image2 {
        margin-top: -35px;
    }
    .image .card-body {
        z-index: 2;
        position: absolute;
        top: 5rem;
        left: 2rem;
        color: black;
    }
    #image2 .card-body {
        z-index: 2;
        position: absolute;
        top: 0rem;
        left: 2rem;
        color: black;
    }
    #image2 h3 {
        font-size: large;
    }
    #row1 {
        padding-top: 3rem;
    }
}

@media (max-width:765px) {
    #container2 img {
        border-radius: 20px;
    }
}

.search-bar-bg {
    background: url('../img/Rectangle\ 11.png') no-repeat;
    background-size: cover;
    border-radius: 30px;
    
}
.blue-pill {
    background: url('../img/blue-pill.png') no-repeat;

}

@media screen and (min-width: 600px) {
    .blue-pill {
        height: 900px;
        background-size: 40%;
        background-position: right;
    }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
    .blue-pill {
        background-size: 90%;
        height: 700px;
        background-position: 100% 120%;
    }
}

@media screen and (min-width: 600px) {
    .search-bar-bg {
        height: 250px;
        
    }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
    .search-bar-bg {
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.search-bar-container {
    position: relative;
}
@media screen and (min-width: 600px) {
    .search-bar-container {
        margin-top: -280px;
        
    }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
    .search-bar-bg {
        margin-top: -35px;
    }
}

.fs-1-costom {
    font-size: 50px;
}
